body {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: #0EA5E9;

    color: white;
}

.formName {
    color:#0EA5E9;
    font-weight: bold;
    text-align: center;
}
.fieldName {
    width: 48px;
    height: 19px;
    top: 457px;
    left: 200px;
    gap: 0px;
    opacity: 0px;

}
.registerButton {
    color: white;
    background: #0EA5E9;
    width: 200px;
    height: 36px;
    top: 591px;
    left: 300px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0EA5E9;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.registerButton:hover {
    transform: translateY(-2px); 
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2); 
}
.inputFields {
    width: 400px;
    height: 48px;
    top: 401px;
    left: 200px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #0EA5E9;
    margin-top: 10px;
    font-size: large;
}
.commentText {
    width: 48px;
    height: 19px;
    top: 457px;
    left: 0px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 19.36px;
    color: #0EA5E9;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;

}